#header{
    background-color: aqua;
}
#menu{
    background-color:brown;
    float: left;
    width: 150px;
    height: 100%;   
    font-size: 20px;
    

}
#menu ul li{
    list-style: none;
    text-decoration:none;   
}
#menu ul li a:hover{
    text-decoration: none;
}
#content{
    background-color:cornsilk;
}
#footer{
    background-color:darkgray;
}

html,
body {
	height: 100%;
	width: 100%;
}