#header{
    background-color: aqua;
}
#menu{
    background-color:brown;
    float: left;
    width: 150px;
    height: 100%;   
    font-size: 20px;
    

}

#menu ul li{
    list-style: none;
    text-decoration:none;   
}
#menu ul li a:hover{
    text-decoration: none;
}
#content{
    background-color:cornsilk;
    margin-left: 160px;
}
#footer{
    background-color:darkgray;
}

html,
body {
	height: 100%;
	width: 100%;
}
.myforms{
	border-color: black;
	border-style: solid;
	border-radius: 20px;
	padding: 50px;
	width: 200px;
}
#sourceForm{
	background-color: yellow;
}
#targetForm{
	background-color: lightgreen;
}